  <form [formGroup]="yellowBookFormGroup">
    <ion-list>
      <ion-list-header color="primary" style="font-size:20px;">Past Cash Receipts</ion-list-header>
      <div style="overflow-x: scroll"> 
        <ion-grid style='width: 1211px;' border="1">
          <ion-row  align-items-center>
            <ion-col style="max-width: 5%">Sr No.</ion-col>
            <ion-col style="max-width: 5%; text-align:center">Edit</ion-col>
            <ion-col style="max-width: 6%; text-align:center">Remove</ion-col>
            <ion-col style="max-width: 17% ; text-align:center">Receipt No.</ion-col>
            <ion-col style="max-width: 18%; text-align:center">Purpose</ion-col>
            <ion-col style="max-width: 17% ; text-align:center">Registration/Renewal Date</ion-col>
            <ion-col style="max-width: 17% ; text-align:center">Cash Receipt Date</ion-col>
            <ion-col style="max-width: 17% ; text-align:center">Total Amount</ion-col>
          </ion-row>
          <ng-container formArrayName="cashReceiptEntries" *ngFor="let eachCashReceipt of cashReceiptEntries['controls'];let i = index;"> 
            <ion-row [formGroupName]="i" align-items-center>
              <ion-col style="max-width: 5%">{{i + 1}} </ion-col>
              <ion-col style="max-width: 6%;">
                <ion-fab style="margin-top: -25px;">
                  <ion-fab-button style="height: 45px;width: 45px;" (click)="editCashReceipt(i)">
                    <ion-icon name="create"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-col>
              <ion-col style="max-width: 5%;">
                <ion-fab style="margin-top: -25px;">
                  <ion-fab-button style="height: 45px;width: 45px;" (click)="deleteCashReceiptEntry(i)">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-col>
              <ion-col style="max-width: 17%">
                <ion-item>
                  <ion-input [attr.disabled]="true" type="text" [class.is-invalid]="cashReceiptEntries['controls'][i].get('receiptNo').invalid && cashReceiptEntries['controls'][i].get('receiptNo').touched"
                      maxlength="12" formControlName="receiptNo" ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col  style="max-width: 18%">
                  <ion-select [attr.disabled]="true" [class.is-invalid]="cashReceiptEntries['controls'][i].get('purpose').invalid && cashReceiptEntries['controls'][i].get('purpose').touched" formControlName="purpose">
                    <ion-select-option  value="" disabled selected></ion-select-option>
                    <ion-select-option *ngIf="i === 0" [value]="'Registration'">Registration</ion-select-option>
                    <ion-select-option *ngIf="i !== 0" [value]="'Renewal'">Renewal</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col  style="max-width: 17%">
                <ion-item>
                  <ion-datetime [attr.disabled]="true" displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [class.is-invalid]="cashReceiptEntries['controls'][i].get('regOrRenewalDate').invalid && cashReceiptEntries['controls'][i].get('regOrRenewalDate').touched" formControlName="regOrRenewalDate" [min]="minFDate(i)" [max]="maxFDate(i)">
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col  style="max-width: 17%">
                <ion-item>
                  <ion-datetime [attr.disabled]="true" displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [class.is-invalid]="cashReceiptEntries['controls'][i].get('cashReceiptDate').invalid && cashReceiptEntries['controls'][i].get('cashReceiptDate').touched" formControlName="cashReceiptDate" [min]="minReceiptDate(i)" [max]="maxReceiptDate(i)"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col  style="max-width: 17%">
                <ion-item>
                  <ion-input style="text-align: right;" [attr.disabled]="true" type="number" min="12" max="85" [class.is-invalid]="cashReceiptEntries['controls'][i].get('amount').invalid && cashReceiptEntries['controls'][i].get('amount').touched"  formControlName="amount"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-grid>
      </div>
    </ion-list>
    <ion-button style="margin-left: 11px;margin-top: 8px;" (click)="addCashReceipt()">Add More </ion-button>
    <ion-list>
      <ion-list-header color="primary" style="font-size:20px;">Past Claims</ion-list-header>
      <div style="overflow-x: scroll"> 
        <ion-grid style='width: 1211px;' border="1">
          <ion-row align-items-center>
            <ion-col style="max-width: 5%">Sr No.</ion-col>
            <ion-col style="max-width: 5%; text-align:center">Edit</ion-col>
            <ion-col style="max-width: 6%; text-align:center">Remove</ion-col>
            <ion-col style="max-width: 17%; text-align:center">Claim Date</ion-col>
            <ion-col style="max-width: 17%; text-align:center">Scheme Category</ion-col>
            <ion-col style="max-width: 18%; text-align:center">Scheme Name</ion-col>
            <ion-col style="max-width: 17%; text-align:center">Benefit Type</ion-col>
            <ion-col style="max-width: 17%; text-align:center">Benefit Amount</ion-col>
          </ion-row>
          <ng-container  formArrayName="schemeClaimsEntries" *ngFor="let eachSchemeClaims of schemeClaimsEntries['controls'];let i = index;">
            <ion-row [formGroupName]="i" align-items-center>
              <ion-col style="max-width: 5%;">{{i + 1}} </ion-col>
              <ion-col style="max-width: 6%;">
                <ion-fab style="margin-top: -25px;">
                  <ion-fab-button style="height: 45px;width: 45px;"  (click)="editClaimReceipt(i)">
                    <ion-icon name="create"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-col>
              <ion-col style="max-width: 5%;">
                <ion-fab style="margin-top: -25px;">
                  <ion-fab-button style="height: 45px;width: 45px;"(click)="deleteSchemeClaimEntry(i)">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-col>
              <ion-col style="max-width: 17%;">
                <ion-item >
                  <ion-datetime [attr.disabled]="true" displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('claimDate').invalid && schemeClaimsEntries.get(i.toString()).get('claimDate').touched" formControlName="claimDate"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col style="max-width: 17%;">
                  <ion-select [attr.disabled]="true" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('schemeCategory').invalid && schemeClaimsEntries.get(i.toString()).get('schemeCategory').touched" formControlName="schemeCategory" (ionChange)="filterSchemesForCategory($event, i)">
                    <ion-select-option value="" disabled selected></ion-select-option>
                    <ion-select-option *ngFor="let eachCategory of schemeCategories" [value]="eachCategory.category_id">{{eachCategory.scheme_category}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col style="max-width: 18%;">
                  <!-- <ion-select [attr.disabled]="true" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('schemeName').invalid && schemeClaimsEntries.get(i.toString()).get('schemeName').touched" formControlName="schemeName" >
                    <ion-select-option value="" disabled selected></ion-select-option>
                    <ion-select-option *ngFor="let eachScheme of filteredSchemes[i]" [value]="eachScheme.scheme_number">{{eachScheme.scheme_number}} - {{eachScheme.scheme_name}}</ion-select-option>
                  </ion-select> -->
                  <ion-input [attr.disabled]="true" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('schemeName').invalid && schemeClaimsEntries.get(i.toString()).get('schemeName').touched" formControlName="schemeName">

                  </ion-input>
              </ion-col>
              <ion-col style="max-width: 17%;">
                  <ion-select [attr.disabled]="true" formControlName="benefitType" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('benefitType').invalid && schemeClaimsEntries.get(i.toString()).get('schemeName').touched">
                  <ion-select-option value="" disabled selected></ion-select-option>
                  <ion-select-option value="cash">Cash</ion-select-option>
                  <ion-select-option value="kind">Kind</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col style="max-width: 17%;">
                <ion-item>
                  <ion-input [attr.disabled]="true" style="text-align: right;" formControlName="benefitAmount" [class.is-invalid]="schemeClaimsEntries.get(i.toString()).get('benefitAmount').invalid && schemeClaimsEntries.get(i.toString()).get('claimDate').touched">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-grid>
      </div>
    </ion-list>
    <ion-button style="margin-left: 11px;margin-top: 8px;" (click)="addSchemeClaimEntry()">Add More </ion-button>
  </form>