<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HEALTH SCHEME NO.1</ion-title>
  </ion-toolbar>
</ion-header>


  <form [formGroup]="formGroup">
    <ion-list>
      <ion-header style="font-size:18px" class="ml-2">Financial Assistance of Rs. 15,000/- for natural
        delivery and Rs. 20,000/- for caesarean delivery to the wife of registered male worker and/or
        to the registered female worker.<br><br>
        दोन जिवीत अपत्यांपर्यंत नैसर्गिक प्रसूतीसाठी रू.१५,०००/- व शस्त्रक्रियेद्वारे प्रसूतीसाठी रू.२०,०००/
      </ion-header>

      <ion-item>
        <ion-label position="floating">Child Name / मुलाचे नाव<span class="text-danger">*</span></ion-label>
        <ion-select formControlName="childrenDetail"
          [class.is-invalid]="childrenDetail.invalid && childrenDetail.touched" id="childrenDetail">
          <ion-select-option *ngFor="let childObject of childArray; let childArrayIndex = index" [disabled]="childArrayIndex > 1"
            [value]="childObject['family_detail_id']">{{childObject['firstNameFamily']}} {{childObject['surname']}} /
            {{childObject['firstNameFamily_mr']}} {{childObject['surname_mr']}}>
          </ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="childrenDetail.invalid && childrenDetail.touched">
          <small *ngIf="childrenDetail.errors && childrenDetail.errors['required']">Please select a child.</small>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Aadhar Card Number / आधार कार्ड क्रमांक<span style="color: Red">*</span></ion-label>
        <ion-input type="number" [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" maxlength="12"
          minlength="12" formControlName="aadharNumber" id="aadharNumber"></ion-input>
        <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please enter your Aadhar Number.</small>
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['pattern']">Please enter appropriate Aadhar
            Number.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Gender / लिंग<span style="color: Red">*</span></ion-label>
        <ion-select formControlName="genderPersonal" id="genderPersonal"
          [class.is-invalid]="genderPersonal.invalid && genderPersonal.touched">
          <ion-select-option  *ngFor="let genderObject of genderPersonalArray" [value]="genderObject['gender_id']">
            {{genderObject['gender']}} / {{genderObject['gender_mr']}}>
          </ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="genderPersonal.invalid && genderPersonal.touched">
          <small *ngIf="genderPersonal.errors && genderPersonal.errors['required']">Please select gender</small>
        </div>
      </ion-item>

      <ion-item>
          <ion-icon slot="end" name="calendar"></ion-icon>
          <ion-label position="floating">Date of Birth / जन्मतारीख <span
              style="color: Red">*</span></ion-label>
          <ion-datetime [max]="maxTodaysDate" displayFormat="DD MMMM, YYYY" formControlName="dateOfDeliveryHealth" id="dateOfDeliveryHealth"
            [class.is-invalid]="dateOfDeliveryHealth.invalid && dateOfDeliveryHealth.touched">
          </ion-datetime>
          <div class="text-danger" *ngIf="dateOfDeliveryHealth.errors && dateOfDeliveryHealth.touched">
            <small>Please enter appropriate date.</small>
          </div>
        </ion-item>
  

      <ion-item>
        <ion-label position="floating">Maternity Place / प्रसूतीचे ठिकाण/स्थान <span style="color: Red">*</span>
        </ion-label>
        <ion-select formControlName="selectMaternityPlace" id="selectMaternityPlace"
          [class.is-invalid]="selectMaternityPlace.invalid && selectMaternityPlace.touched">
          <ion-select-option>Hospital/रुग्णालय</ion-select-option>
          <ion-select-option>Home/घर</ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="selectMaternityPlace.invalid && selectMaternityPlace.touched">
          <small *ngIf="selectMaternityPlace.errors && selectMaternityPlace.errors['required']">Please select maternity
            place</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Name of Hospital / रुग्णालयाचे नाव<span style="color: Red">*</span></ion-label>
        <ion-input (ionBlur)="transliterateValue($event)" clearInput type="text" formControlName="nameOfHospital" id="nameOfHospital"
          [class.is-invalid]="nameOfHospital.invalid && nameOfHospital.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="nameOfHospital.invalid && nameOfHospital.touched">
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['required']">Please enter name of
            Hospital</small>
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['maxlength']">You have reached your
            maximum</small>
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['pattern']">Please enter proper name of
            hospital.</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfHospital_mr.value">
        {{nameOfHospital_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address of Delivery / प्रसूतीचा पत्ता<span style="color: Red">*</span>
        </ion-label>
        <ion-input (ionBlur)="transliterateValue($event)" type="text" formControlName="addressOfDelivery" id="addressOfDelivery"
          [class.is-invalid]="addressOfDelivery.invalid && addressOfDelivery.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="addressOfDelivery.invalid && addressOfDelivery.touched">
          <small *ngIf="addressOfDelivery.errors &&addressOfDelivery.errors['required']">Please enter Address of
            delivery</small>
          <small *ngIf="addressOfDelivery.errors && addressOfDelivery.errors['maxlength']">You have reached your
            maximum.</small>
          <small *ngIf="addressOfDelivery.errors && addressOfDelivery.errors['pattern']">Please write proper
            address.</small>
        </div>
      </ion-item>
      <ion-item *ngIf="addressOfDelivery_mr.value">
        {{addressOfDelivery_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Method of Delivery / प्रसूतीचे प्रकार<span style="color: Red">*</span>
        </ion-label>
        <ion-select formControlName="typeOfDelivery"
          [class.is-invalid]="typeOfDelivery.invalid && typeOfDelivery.touched" id="typeOfDelivery">
          <ion-select-option *ngFor="let list of Delivery" [value]="list.type">{{list.type}}></ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="typeOfDelivery.invalid && typeOfDelivery.touched">
          <small *ngIf="typeOfDelivery.errors && typeOfDelivery.errors['required']">Please select method of
            Delivery</small>
        </div>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Birth certificate Registration Number /जन्म प्रमाणपत्र नोंदणी क्रमांक<span
            style="color: Red">*</span></ion-label>
        <ion-input clearInput type="text" id="birthCertificateNumber" maxlength="30" autocapitalize="characters"
          [class.is-invalid]="birthCertificateNumber.invalid && birthCertificateNumber.touched"
          formControlName="birthCertificateNumber"> </ion-input>
        <div class="text-danger" *ngIf="birthCertificateNumber.invalid && birthCertificateNumber.touched">
          <small *ngIf="birthCertificateNumber.errors && birthCertificateNumber.errors['required']">Please enter your
            Birth certificate Registration Number.</small>
          <small *ngIf="birthCertificateNumber.errors && birthCertificateNumber.errors['maxlength']">You have reached
            your maximum.</small>
          <small *ngIf="birthCertificateNumber.errors && birthCertificateNumber.errors['pattern']">Please enter
            appropriate Birth certificate Registration Number.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Birth Certificate Issued by / जन्म प्रमाणपत्र जारीकर्ता प्रकार<span
            style="color: Red">*</span></ion-label>
        <ion-select formControlName="birthCertificateIssuedBy"
          [class.is-invalid]="birthCertificateIssuedBy.invalid && birthCertificateIssuedBy.touched"
          id="birthCertificateIssuedBy">
          <ion-select-option *ngFor="let list of issuedBy" [value]="list.type">{{ list.type }}>
          </ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="birthCertificateIssuedBy.invalid && birthCertificateIssuedBy.touched">
          <small *ngIf="birthCertificateIssuedBy.errors && birthCertificateIssuedBy.errors['required']">Please select
            type of Issuer</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Name Of Birth Certificate Issuer Authority / जन्म प्रमाणपत्र जारी करणार्‍याचे
          नाव<span style="color: Red">*</span></ion-label>
        <ion-input (ionBlur)="transliterateValue($event)" formControlName="nameOfCertificateIssuer" id="nameOfCertificateIssuer"
          [class.is-invalid]="nameOfCertificateIssuer.invalid && nameOfCertificateIssuer.touched" maxlength="120">
        </ion-input>
        <div class="text-danger" *ngIf="nameOfCertificateIssuer.invalid && nameOfCertificateIssuer.touched">
          <small *ngIf="nameOfCertificateIssuer.errors && nameOfCertificateIssuer.errors['required']">Please enter name
              Birth Certificate Issuer </small>
          <small *ngIf="nameOfCertificateIssuer.errors && nameOfCertificateIssuer.errors['maxlength']">You have reached
            your maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfCertificateIssuer_mr.value">
        {{nameOfCertificateIssuer_mr.value}}
      </ion-item>
      <br>

      <ion-header class="ml-2"><b><u>DOCUMENTS REQUIRED:-</u></b></ion-header>
      <ion-item lines="none">
        <ion-label text-wrap floating>1. Natural / Caesaeren certificates provided by competent medical authorities and
          medical
          treatment payments.If the delivery is at home, the birth certificate Issued by the Gramsevek ,Gram
          Panchayat,Nagar Palika,Maha Nagar Palika.<br>
          सक्षम वैद्यकीय अधिका-यांनी दिलेले नैसर्गिक / शश्त्रक्रियेव्दारे प्रसूतीचे प्रमाणपत्र व वैद्यकीय उपचाराची देयके
          /
          प्रसूती घरी झालेली असल्यास , ग्रामसेवक, ग्रामपंचायत, नगर पालिका, महानगर पालिका जन्म नोंदणी प्रमाणपत्र
        </ion-label>
      </ion-item>
      <ion-item>
        <input id='health1Form1Doc1' formControlName="health1Form1Doc1" type="file" accept="application/pdf">
        <div class="text-danger" *ngIf="health1Form1Doc1.invalid && health1Form1Doc1.touched">
          <small> Please Upload Required Document</small>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label text-wrap floating>2. Ration card / रेशन कार्ड</ion-label>
      </ion-item>
      <ion-item>
        <input type="file" name="upload" accept="application/pdf" formControlName="rationCardDoc">
        <div class="text-danger" *ngIf="rationCardDoc.invalid && rationCardDoc.touched">
          <small>Please upload required document.</small>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label text-wrap floating>3. Self Declaration / हमीपत्र</ion-label>
      </ion-item>
      <ion-item>
        <input type="file" formControlName="selfDeclaration" id="selfDeclaration" accept="application/pdf">
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small> Please Upload Required Document</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="verifyDocumentCheck" slot="start" checked="false"></ion-checkbox>
        <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
      </ion-item>
      <!-- <ion-item>
          <ion-label text-wrap>I hereby declare that the information provided in above form is true & correct to the best of my knowledge and belief
          and nothing has been falsely stated. In case any of the above information is found to be false or untrue or misleading
          or misrepresenting, I am aware that I may be held liable for it.
        <br>
      मी याद्वारे असे जाहीर करतो / करते की, वरील सर्व माहिती माझी व्यक्तिगत माहिती व समजूतीनुसार खरी आहे. दिलेली माहिती खोटी
      असल्याचे आढळून आल्यास, भारतीय दंड किंवा संबंधित कायद्यानुसार माझ्यावर खटला भरला जाईल व त्यानुसार मी शिक्षेस पात्र राहीन
      याची मला पूर्ण जाणीव आहे.</ion-label>
        </ion-item> -->

      <ion-button mode="ios" expand="block" (click)="save()">Save</ion-button>
    </ion-list>
  </form>