<ion-header>
  <ion-toolbar color="primary">
    <ion-title>EDUCATIONAL SCHEME NO.3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-header class="p-2" style="font-size:18px">Educational assistance of Rs.10,000/- per educational year to the
      children of the registered workers studying in 11th and 12th standard.
      <br>नोंदणीकृत कामगाराच्या पहिल्या दोन पाल्यांना इयत्ता ११ वी व १२ वी च्या शिक्षणासाठी प्रति शैक्षणिक वर्षी
      रू.१०,०००/-.
    </ion-header>
    
    <ion-item>
      <ion-label position="floating">Name of Child / मुलाचे/मुलीचे नाव<span class="text-danger">*</span></ion-label>
      <ion-select formControlName="childrenDetail" id="childrenDetail"
        [class.is-invalid]="childrenDetail.invalid && childrenDetail.touched">
        <ion-select-option>
        </ion-select-option>
      </ion-select>
      <div class="text-danger" *ngIf="childrenDetail.invalid && childrenDetail.touched">
        <small *ngIf="childrenDetail.errors && childrenDetail.errors['required']">Please select a child.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Aadhar Card Number / आधार कार्ड क्रमांक <span class="text-danger">*</span>
      </ion-label>
      <ion-input type="number" formControlName="aadharNumber" id="aadharNumber" minlength="12" maxlength="12"
        [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
        <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please enter your aadhar card
          number.</small>
        <small *ngIf="aadharNumber.errors && aadharNumber.errors['pattern']">Please enter appropriate aadhar card
          number.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Age / वय <span class="text-danger">*</span></ion-label>
      <ion-input type="number" formControlName="age" id="age" minlength="2" maxlength="2"
        [class.is-invalid]="age.invalid && age.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="age.invalid && age.touched">
        <small *ngIf="age.errors && age.errors['required']">Please enter your age.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Standard / इयत्ता<span class="text-danger">*</span>
      </ion-label>
      <ion-select formControlName="standard" id="standard" [class.is-invalid]="standard.invalid && standard.touched">
      </ion-select>
      <ion-select-option></ion-select-option>
      <div class="text-danger" *ngIf="standard.invalid && standard.touched">
        <small *ngIf="standard.errors && standard.errors['required']">Please select your standard.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">College Name / महाविद्यालयाचे नाव<span class="text-danger">*</span>
      </ion-label>
      <ion-input formControlName="college" id="college" minlength="3" maxlength="100" clearInput
        [class.is-invalid]="college.invalid && college.touched"
        class="transliterate" (ionBlur)="transliterateValue($event)">
      </ion-input>
      <div class="text-danger" *ngIf="college.invalid && college.touched">
        <small *ngIf="college.errors && college.errors['required']">Please enter your college's/college's name.</small>
        <small *ngIf="college.errors && college.errors['maxlength']">You have reached your maximum.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="college_mr.value">
      <ion-label>{{college_mr.value}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Address of College / महाविद्यालयाचा पत्ता<span class="text-danger">*</span>
      </ion-label>
      <ion-input formControlName="placeCollege" id="placeCollege" minlength="10" maxlength="240"
        [class.is-invalid]="placeCollege.invalid && placeCollege.touched"
        class="transliterate" (ionBlur)="transliterateValue($event)" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="placeCollege.invalid && placeCollege.touched">
        <small *ngIf="placeCollege.errors && placeCollege.errors['required']">Please enter your college's
          address.</small>
        <small *ngIf="placeCollege.errors && placeCollege.errors['maxlength']">You have reached your maximum.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="placeCollege_mr.value">
      <ion-label>{{placeCollege_mr.value}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">College Email ID / महाविद्यालयाचे इमेल आयदी<span class="text-danger">*</span>
      </ion-label>
      <ion-input type="email" formControlName="insEmail" id="insEmail" maxlength="100"
        [class.is-invalid]="insEmail.invalid && insEmail.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="insEmail.invalid && insEmail.touched">
        <small *ngIf="insEmail.errors && insEmail.errors['required']">Please enter your college's email id.</small>
        <small *ngIf="insEmail.errors && insEmail.errors['maxlength']">You have reached your maximum.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">College Phone Number / महाविद्यालयाचा फोन नंबर<span class="text-danger">*</span>
      </ion-label>
      <ion-input type="number" formControlName="insPhNo" id="insPhNo" maxlength="10" minlength="8"
        [class.is-invalid]="insPhNo.invalid && insPhNo.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="insPhNo.invalid && insPhNo.touched">
        <small *ngIf="insPhNo.errors && insPhNo.errors['required']">Please enter your college's phone number.</small>
        <small *ngIf="insPhNo.errors && insPhNo.errors['maxlength']">You have reached your maximum.</small>
        <small *ngIf="insPhNo.errors && insPhNo.errors['maxlength']">Enter appropriate phone number.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Board of Education / शिक्षण मंडळ<span class="text-danger">*</span></ion-label>
      <ion-input formControlName="boardOfEducation" id="boardOfEducation" minlength="3" maxlength="100"
        [class.is-invalid]="boardOfEducation.invalid && boardOfEducation.touched" 
        class="transliterate" (ionBlur)="transliterateValue($event)" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="boardOfEducation.invalid && boardOfEducation.touched">
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['required']">Please enter your board of
          education.</small>
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['maxlength']">You have reached your
          maximum.</small>
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['minlength']">Please enter appropriate board of
          education.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="boardOfEducation_mr.value">
      <ion-label>{{boardOfEducation_mr.value}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="calendar"></ion-icon>
      <ion-label position="floating">Date of Admission / प्रवेश तारीख<span class="text-danger">*</span></ion-label>
      <ion-datetime formControlName="dateOfAdmission" id="dateOfAdmission"
        [class.is-invalid]="dateOfAdmission.invalid && dateOfAdmission.touched">
      </ion-datetime>
      <div class="text-danger" *ngIf="dateOfAdmission.invalid && dateOfAdmission.touched">
        <small *ngIf="dateOfAdmission.errors && dateOfAdmission.errors['required']">Please enter your date of
          admission.</small>
      </div>
    </ion-item>
    <br>

    <ion-item>
      <ion-label style="font-size:15px"><u><b>DOCUMENTS REQUIRED:-</b></u></ion-label><br>
    </ion-item>

    <ion-item>
      <ion-label text-wrap floating>1. Passing certificate / marksheet of the previous academic year /<br> मागील शैक्षणिक वर्षात
        उत्तीर्ण झाल्याचे प्रमाणपत्र / गुणपत्रिका</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="certificates" id="certificates" type="file" accept="application/pdf"
        [class.is-invalid]="certificates.invalid && certificates.touched">
    </ion-item>
    <div class="text-danger" *ngIf="certificates.invalid && certificates.touched">
      <small *ngIf="certificates.errors && certificates.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>2. Reciept of admission of the current academic year /<br> चालू शैक्षणिक वर्षाच्या प्रवेशाची
        पावती</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="receipt" id="receipt" type="file" accept="application/pdf"
        [class.is-invalid]="receipt.invalid && receipt.touched">
    </ion-item>
    <div class="text-danger" *ngIf="receipt.invalid && receipt.touched">
      <small *ngIf="receipt.errors && receipt.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>3. School/College Id Card / शाळेचे/महाविद्यालयचे ओळखपत्र</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="schoolIdDoc" id="schoolIdDoc" type="file" accept="application/pdf"
        [class.is-invalid]="schoolIdDoc.invalid && schoolIdDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="schoolIdDoc.invalid && schoolIdDoc.touched">
      <small *ngIf="schoolIdDoc.errors && schoolIdDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>4. Bonafide certificate of current academic year/<br>चालू शैक्षणिक वर्षाचे बोनाफाईड प्रमाणपत्र
      </ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="bonafideDoc" id="bonafideDoc" type="file" accept="application/pdf"
        [class.is-invalid]="bonafideDoc.invalid && bonafideDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="bonafideDoc.invalid && bonafideDoc.touched">
      <small *ngIf="bonafideDoc.errors && bonafideDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>5. Aadhar card of the applicable member/<br> लागू सदस्याचे आधार कार्ड</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="aadharCardDoc" id="aadharCardDoc" type="file" accept="application/pdf"
        [class.is-invalid]="aadharCardDoc.invalid && aadharCardDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="aadharCardDoc.invalid && aadharCardDoc.touched">
      <small *ngIf="aadharCardDoc.errors && aadharCardDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>6. Self Declaration / हमीपत्र</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="selfDeclaration" id="selfDeclaration" type="file" accept="application/pdf"
        [class.is-invalid]="selfDeclaration.invalid && selfDeclaration.touched">
    </ion-item>
    <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
      <small *ngIf="selfDeclaration.errors && selfDeclaration.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label text-wrap floating>7. Ration Card / रेशन कार्ड</ion-label>
    </ion-item>
    <ion-item>
      <input formControlName="rationCardDoc" id="rationCardDoc" type="file" accept="application/pdf"
        [class.is-invalid]="rationCardDoc.invalid && rationCardDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="rationCardDoc.invalid && rationCardDoc.touched">
      <small *ngIf="rationCardDoc.errors && rationCardDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-checkbox color="dark" checked="false" slot="start"></ion-checkbox>
      <ion-label>Documents Verified</ion-label>
    </ion-item>

    <ion-button expand="block">SUBMIT</ion-button>

  </form>
</ion-content>