:root{
    button{
        line-height:initial !important ;
    }
    .action-sheet-button{
        height:62px !important ; 
    }
     app-registration {
  .action-sheet-button.sc-ion-action-sheet-md {
    height: 88px !important;
  }
}
}


