<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationFormGroup">
    <form [formGroup]="registrationFormGroup.get('personalDetails')">
      <ion-list>
        <ion-list-header style="font-size:20px;"
          >Personal Details</ion-list-header
        >

        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstNamePersonal" clearInput></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">पहिले नाव</ion-label>
          <ion-input
            maxlength="20"
            formControlName="firstNamePersonal_mr"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Middle Name</ion-label>
          <ion-input formControlName="middleNamePersonal"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">मधले नाव</ion-label>
          <ion-input maxlength="20" formControlName="middleNamePersonal_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">last Name</ion-label>
          <ion-input formControlName="lastNamePersonal"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">आडनाव</ion-label>
          <ion-input
            maxlength="20"
            formControlName="lastNamePersonal_mr"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Aadhar Number</ion-label>
          <ion-input
            type="number"
            maxlength="12"
            minlength="12"
            formControlName="aadharNoPersonal"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select formControlName="genderPersonal">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">लिंग</ion-label>
          <ion-select formControlName="genderPersonal_mr">
            <ion-select-option value="पुरुष">पुरुष</ion-select-option>
            <ion-select-option value="स्त्री">स्त्री</ion-select-option>
            <ion-select-option value="इतर">इतर</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Marital Status</ion-label>
          <ion-select formControlName="maritalStatusPersonal">
            <ion-select-option value="Single">Single</ion-select-option>
            <ion-select-option value="Married">Married</ion-select-option>
            <ion-select-option value="Divorced">Divorced</ion-select-option>
            <ion-select-option value="Widow">Widow</ion-select-option>
            <ion-select-option value="Widower">Widower</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">वैवाहिक स्थिती</ion-label>
          <ion-select formControlName="maritalStatusPersonal_mr">
            <ion-select-option value="अविवाहित">अविवाहित</ion-select-option>
            <ion-select-option value="विवाहित">विवाहित</ion-select-option>
            <ion-select-option value="घटस्फोटित">घटस्फोटित<</ion-select-option>
            <ion-select-option value="विधवा">विधवा</ion-select-option>
            <ion-select-option value="विधुर">विधुर</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon slot="end" name="calendar"></ion-icon>
          <ion-label position="floating"
            >Date Of Birth - As Per Aadhar or PAN Card</ion-label
          >
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            picker-format="DD/MM/YYYY"
            min="1994-03-14"
            max="2012-12-09"
            formControlName="dobPersonal"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input
            maxlength="2"
            minlength="2"
            max="60"
            min="18"
            type="number"
            formControlName="agePersonal"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile No.</ion-label>
          <ion-input
            maxlength="10"
            minlength="10"
            type="number"
            formControlName="mobilePersonal"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ration Card Number</ion-label>
          <ion-input
            maxlength="14"
            formControlName="rationCardNumberPersonal"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ration Card Type</ion-label>
          <ion-select formControlName="rationCardTypePersonal">
            <ion-select-option value="Yellow Card (below the poverty line)"
              >Yellow Card (below the poverty line)
            </ion-select-option>
            <ion-select-option value="Antyodaya food scheme card"
              >Antyodaya food scheme card</ion-select-option
            >
            <ion-select-option value="Annapurna food scheme card"
              >Annapurna food scheme card
            </ion-select-option>
            <ion-select-option value="Orange Ration Card"
              >Orange Ration Card</ion-select-option
            >
            <ion-select-option value="None of these"
              >None of these</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">रेशन कार्ड प्रकार</ion-label>
          <ion-select formControlName="rationCardTypePersonal_mr">
            <ion-select-option value="दारिद्र रेषेखालील पिवळे"
              >दारिद्र रेषेखालील पिवळे
            </ion-select-option>
            <ion-select-option value="अंत्योदय अन्न योजना"
              >अंत्योदय अन्न योजना</ion-select-option
            >
            <ion-select-option value="अन्नपूर्णा शिधापत्रिका"
              >अन्नपूर्णा शिधापत्रिका</ion-select-option
            >
            <ion-select-option
              value="केशरी शिधापत्रिका (रु. १ लाखापर्यंत वार्षिक उत्पन्न असलेली)"
              >केशरी शिधापत्रिका (रु. १ लाखापर्यंत वार्षिक उत्पन्न
              असलेली)</ion-select-option
            >
            <ion-select-option value="यापैकी एकही नाही"
              >यापैकी एकही नाही</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Category</ion-label>
          <ion-select formControlName="categoryPersonal">
            <ion-select-option value="SC">SC</ion-select-option>
            <ion-select-option value="ST">ST</ion-select-option>
            <ion-select-option value="NT">NT</ion-select-option>
            <ion-select-option value="OBC">OBC</ion-select-option>
            <ion-select-option value="Open">Open</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">वर्गवारी</ion-label>
          <ion-select formControlName="categoryPersonal_mr">
            <ion-select-option value="अनुसूचित जाती"
              >अनुसूचित जाती</ion-select-option
            >
            <ion-select-option value="अनुसूचित जमाती"
              >अनुसूचित जमाती</ion-select-option
            >
            <ion-select-option value="एनटी">एनटी</ion-select-option>
            <ion-select-option value="इमाव">इमाव</ion-select-option>
            <ion-select-option value="खुला">खुला</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">PF/UAN (If available)</ion-label>
          <ion-input formControlName="pfOrUanPersonal"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            ESIC Number (If available)
          </ion-label>
          <ion-input maxlength="20" formControlName="esicNoPersonal">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email (If available)</ion-label>
          <ion-input type="email" formControlName="emailPersonal"></ion-input>
        </ion-item>

        <ion-item>
          <form
            [formGroup]="
              registrationFormGroup
                .get('personalDetails')
                .get('residentialAddress')
            "
          >
            <ion-list>
              <ion-list-header style="font-size:20px;"
                >Residential Address(स्थानिक पत्ता )</ion-list-header
              >

              <ion-item>
                <ion-label position="floating"
                  >House No. / Building No.
                </ion-label>
                <ion-input formControlName="houseNo" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >घर क्रमांक / इमारत क्रमांक</ion-label
                >
                <ion-input
                  formControlName="houseNo_mr"
                  maxlength="40"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Road</ion-label>
                <ion-input formControlName="road" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >रास्ता / मार्ग / गल्ली</ion-label
                >
                <ion-input formControlName="road_mr" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Area</ion-label>
                <ion-input formControlName="area" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >विभाग / ठिकाण / क्षेत्र</ion-label
                >
                <ion-input formControlName="area_mr" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Town / City </ion-label>
                <ion-input maxlength="40" formControlName="city"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">गाव / शहर</ion-label>
                <ion-input maxlength="40" formControlName="city_mr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Important Place / Nearby</ion-label
                >
                <ion-input
                  maxlength="40"
                  formControlName="importantPlace"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">महत्वाचे ठिकाण</ion-label>
                <ion-input
                  maxlength="40"
                  formControlName="importantPlace_mr"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"> State </ion-label>
                <ion-select formControlName="state">
                  <ion-select-option value="Maharashtra" selected
                    >Maharashtra</ion-select-option
                  >
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating"> राज्य </ion-label>
                <ion-select formControlName="state_mr">
                  <ion-select-option value="Maharashtra" selected
                    >Maharashtra</ion-select-option
                  >
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">District</ion-label>
                <ion-select formControlName="district">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">जिल्हा</ion-label>
                <ion-select formControlName="district_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Taluka</ion-label>
                <ion-select formControlName="taluka">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">तालुका </ion-label>
                <ion-select formControlName="taluka_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Post Office</ion-label>
                <ion-select formControlName="postOffice">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">पोस्ट ऑफिस</ion-label>
                <ion-select formControlName="postOffice_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Pincode</ion-label>
                <ion-input
                  maxlength="6"
                  minlength="6"
                  formControlName="pincode"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">STD code</ion-label>
                <ion-input
                  maxlength="3"
                  minlength="2"
                  formControlName="stdcode"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Landline Phone No</ion-label>
                <ion-input
                  maxlength="8"
                  minlength="5"
                  formControlName="phone"
                ></ion-input>
              </ion-item>
            </ion-list>
          </form>
        </ion-item>

        <ion-item>
          <ion-checkbox
            formControlName="permanentEqualsResidentialAddress"
          ></ion-checkbox>
          <ion-label
            >स्थानिक पत्ता व कायमचा पत्ता सारखा असेल तर येथे क्लिक करा / Click
            here to use the same Residential Address as Permanent
            Address</ion-label
          >
        </ion-item>

        <ion-item>
          <form
            [formGroup]="
              registrationFormGroup
                .get('personalDetails')
                .get('residentialAddress')
            "
          >
            <ion-list>
              <ion-list-header style="font-size:20px;"
                >Permanent Address(स्थानिक पत्ता )</ion-list-header
              >

              <ion-item>
                <ion-label position="floating"
                  >House No. / Building No.
                </ion-label>
                <ion-input formControlName="houseNo" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >घर क्रमांक / इमारत क्रमांक</ion-label
                >
                <ion-input
                  formControlName="houseNo_mr"
                  maxlength="40"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Road</ion-label>
                <ion-input formControlName="road" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >रास्ता / मार्ग / गल्ली</ion-label
                >
                <ion-input formControlName="road_mr" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Area</ion-label>
                <ion-input formControlName="area" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >विभाग / ठिकाण / क्षेत्र</ion-label
                >
                <ion-input formControlName="area_mr" maxlength="40"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Town / City </ion-label>
                <ion-input maxlength="40" formControlName="city"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">गाव / शहर</ion-label>
                <ion-input maxlength="40" formControlName="city_mr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Important Place / Nearby</ion-label
                >
                <ion-input
                  maxlength="40"
                  formControlName="importantPlace"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">महत्वाचे ठिकाण</ion-label>
                <ion-input
                  maxlength="40"
                  formControlName="importantPlace_mr"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"> State </ion-label>
                <ion-select formControlName="state">
                  <ion-select-option value="Maharashtra" selected
                    >Maharashtra</ion-select-option
                  >
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating"> राज्य </ion-label>
                <ion-select formControlName="state_mr">
                  <ion-select-option value="Maharashtra" selected
                    >Maharashtra</ion-select-option
                  >
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">District</ion-label>
                <ion-select formControlName="district">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">जिल्हा</ion-label>
                <ion-select formControlName="district_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Taluka</ion-label>
                <ion-select formControlName="taluka">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">तालुका </ion-label>
                <ion-select formControlName="taluka_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Post Office</ion-label>
                <ion-select formControlName="postOffice">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">पोस्ट ऑफिस</ion-label>
                <ion-select formControlName="postOffice_mr">
                  <ion-select-option></ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Pincode</ion-label>
                <ion-input
                  maxlength="6"
                  minlength="6"
                  formControlName="pincode"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">STD code</ion-label>
                <ion-input
                  maxlength="3"
                  minlength="2"
                  formControlName="stdcode"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Landline Phone No</ion-label>
                <ion-input
                  maxlength="8"
                  minlength="5"
                  formControlName="phone"
                ></ion-input>
              </ion-item>
            </ion-list>
          </form>
        </ion-item>
      </ion-list>
    </form>

    <form [formGroup]="registrationFormGroup.get('bankDetails')">
      <ion-list>
        <ion-list-header style="font-size:20px;">
          Bank account details / documents required<br />
          (बँक खात्याचा तपशील / आवश्यक असलेली कागदपत्रे)
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">IFSC Code </ion-label>
          <ion-input formControlName="ifscCode"></ion-input>
          <ion-button>Search</ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bank Name</ion-label>
          <ion-input formControlName="bankName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bank Branch</ion-label>
          <ion-input formControlName="bankBranch"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bank Address</ion-label>
          <ion-input formControlName="bankAddress"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">MICR Code</ion-label>
          <ion-input formControlName="micrCode"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Account No.</ion-label>
          <ion-input formControlName="accountNumber"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <form [formGroup]="registrationFormGroup.get('employerDetails')">
      <ion-list>
        <ion-list-header>Employer Details</ion-list-header>

        <ion-item>
          <ion-label position="floating"
            >Name of Contractor / Developer / Company</ion-label
          >
          <ion-input formControlName="contractorNameEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"
            >ठेकेदाराचे नाव / विकासक / आस्थापना</ion-label
          >
          <ion-input formControlName="contractorNameEmp_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contractor company Name</ion-label>
          <ion-input formControlName="contractorCompanyNameEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">ठेकेदार कंपनीचे नाव</ion-label>
          <ion-input formControlName="contractorCompanyNameEmp_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone / Mobile number</ion-label>
          <ion-input formControlName="contractorPhoneEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Workplace</ion-label>
          <ion-input formControlName="workPlaceEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">कामाचे ठिकाण</ion-label>
          <ion-input formControlName="workPlaceEmp_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">District</ion-label>
          <ion-select formControlName="districtEmp">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">जिल्हा</ion-label>
          <ion-select formControlName="districtEmp">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Taluka</ion-label>
          <ion-select formControlName="talukaEmp">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">तालुका</ion-label>
          <ion-select formControlName="talukaEmp">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Town / City</ion-label>
          <ion-input formControlName="townEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">गाव / शहर</ion-label>
          <ion-input formControlName="townEmp_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Pincode</ion-label>
          <ion-input formControlName="pinCodeEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Appointment Date</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            picker-format="DD/MM/YYYY"
            min="1990-01-01"
            formControlName="appointmentDateEmp"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Remuneration per day</ion-label>
          <ion-input
            formControlName="remunerationPerDayEmp"
            maxlength="8"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nature of work</ion-label>
          <ion-select formControlName="natureOfWorkEmp">
            <ion-select-option value="Buildings">Buildings</ion-select-option>
            <ion-select-option value="Streets">Streets</ion-select-option>
            <ion-select-option value="Roads">Roads</ion-select-option>
            <ion-select-option value="Railways">Railways</ion-select-option>
            <ion-select-option value="Tramways">Tramways</ion-select-option>
            <ion-select-option value="Airfields">Airfields</ion-select-option>
            <ion-select-option value="Irrigation">Irrigation</ion-select-option>
            <ion-select-option value="Drainage">Drainage</ion-select-option>
            <ion-select-option value="Embankment And Navigation Works"
              >Embankment And Navigation Works</ion-select-option
            >
            <ion-select-option
              value="Flood Control Works (Including Storm Water Drainage Works)"
              >Flood Control Works (Including Storm Water Drainage
              Works)</ion-select-option
            >
            <ion-select-option value="Generation">Generation</ion-select-option>
            <ion-select-option value="Transmission And Distribution Of Power"
              >Transmission And Distribution Of Power
            </ion-select-option>
            <ion-select-option
              value="Water Works (Including Channels For Distribution Of Water)"
              >Water Works (Including Channels For Distribution Of
              Water)</ion-select-option
            >
            <ion-select-option value="Oil And Gas Installations"
              >Oil And Gas Installations</ion-select-option
            >
            <ion-select-option value="Electric Lines"
              >Electric Lines</ion-select-option
            >
            <ion-select-option value="Wireless">Wireless</ion-select-option>
            <ion-select-option value="Radio">Radio</ion-select-option>
            <ion-select-option value="Television">Television</ion-select-option>
            <ion-select-option value="Telephone">Telephone</ion-select-option>
            <ion-select-option value="Telegraph and Overseas Communications"
              >Telegraph and Overseas Communications
            </ion-select-option>
            <ion-select-option value="Dams">Dams</ion-select-option>
            <ion-select-option value="Canals">Canals</ion-select-option>
            <ion-select-option value="Reservoirs">Reservoirs</ion-select-option>
            <ion-select-option value="Watercourses"
              >Watercourses</ion-select-option
            >
            <ion-select-option value="Tunnels">Tunnels</ion-select-option>
            <ion-select-option value="Bridges">Bridges</ion-select-option>
            <ion-select-option value="Viaducts">Viaducts</ion-select-option>
            <ion-select-option value="Aquaducts">Aquaducts</ion-select-option>
            <ion-select-option value="Pipelines"> Pipelines </ion-select-option>
            <ion-select-option value="Towers"> Towers </ion-select-option>
            <ion-select-option value="Cooling Towers">
              Cooling Towers
            </ion-select-option>
            <ion-select-option value="Transmission Towers and Such Other Work">
              Transmission Towers and Such Other Work
            </ion-select-option>
            <ion-select-option
              value="Cutting the stone, breaking it and crushing the stone finely"
            >
              Cutting the stone, breaking it and crushing the stone finely.
            </ion-select-option>
            <ion-select-option value="Cutting and polishing of tiles or tiles">
              Cutting and polishing of tiles or tiles.
            </ion-select-option>
            <ion-select-option value="Carpentry with paint, varnish, etc">
              Carpentry with paint, varnish, etc.
            </ion-select-option>
            <ion-select-option value="Gutter and plumbing works">
              Gutter and plumbing works.
            </ion-select-option>
            <ion-select-option
              value="Electrical works including wiring, distribution, tensioning, etc"
            >
              Electrical works including wiring, distribution, tensioning, etc.
            </ion-select-option>
            <ion-select-option
              value="Installation and repair of fire extinguishers"
            >
              Installation and repair of fire extinguishers.
            </ion-select-option>
            <ion-select-option
              value="Installation and repair of air conditioning equipment"
            >
              Installation and repair of air conditioning equipment.
            </ion-select-option>
            <ion-select-option value="Installation of automatic lifts, etc">
              Installation of automatic lifts, etc.
            </ion-select-option>
            <ion-select-option
              value="Installation of security doors and equipment"
            >
              Installation of security doors and equipment.
            </ion-select-option>
            <ion-select-option
              value="Preparation and installation of iron or metal grills, windows, doors"
            >
              Preparation and installation of iron or metal grills, windows,
              doors.
            </ion-select-option>
            <ion-select-option
              value="Construction of irrigation infrastructure"
            >
              Construction of irrigation infrastructure.
            </ion-select-option>
            <ion-select-option
              value="Interior work (including decorative) including carpentry, virtual ceilings, lighting, plaster of Paris"
            >
              Interior work (including decorative) including carpentry, virtual
              ceilings, lighting, plaster of Paris.
            </ion-select-option>
            <ion-select-option
              value="Cutting glass, plastering glass and installing glass panels"
            >
              Cutting glass, plastering glass and installing glass panels.
            </ion-select-option>
            <ion-select-option
              value="Preparation of bricks, roofs, etc., not covered under the Factories Act, 1948"
            >
              Preparation of bricks, roofs, etc., not covered under the
              Factories Act, 1948.
            </ion-select-option>
            <ion-select-option
              value="Installation of energy efficient equipment like solar panels etc"
            >
              Installation of energy efficient equipment like solar panels etc.
            </ion-select-option>
            <ion-select-option
              value="Installation of modular units for use in places like cooking"
            >
              Installation of modular units for use in places like cooking.
            </ion-select-option>
            <ion-select-option
              value="Preparation and installation of cement concrete material etc"
            >
              Preparation and installation of cement concrete material etc.
            </ion-select-option>
            <ion-select-option
              value="Construction of sports or recreational facilities including swimming pool, golf course etc"
            >
              Construction of sports or recreational facilities including
              swimming pool, golf course etc.
            </ion-select-option>
            <ion-select-option
              value="Construction or erection of information panels, road furniture, passenger shelters or bus stations, signal systems"
            >
              Construction or erection of information panels, road furniture,
              passenger shelters or bus stations, signal systems.
            </ion-select-option>
            <ion-select-option
              value="Construction of Rotaries, Installation of Fountains etc"
            >
              Construction of Rotaries, Installation of Fountains etc.
            </ion-select-option>
            <ion-select-option
              value="Construction of public parks, sidewalks, picturesque terrain etc"
            >
              Construction of public parks, sidewalks, picturesque terrain etc
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">कामाचे स्वरूप</ion-label>
          <ion-select formControlName="natureOfWorkEmp_mr">
            <ion-select-option value="इमारती">इमारती</ion-select-option>
            <ion-select-option value="रस्त्यावर"> रस्त्यावर </ion-select-option>
            <ion-select-option value="रस्ते"> रस्ते </ion-select-option>
            <ion-select-option value="रेल्वे"> रेल्वे </ion-select-option>
            <ion-select-option value="ट्रामवे"> ट्रामवे </ion-select-option>
            <ion-select-option value="एअरफील्ड"> एअरफील्ड </ion-select-option>
            <ion-select-option value="सिंचन"> सिंचन </ion-select-option>
            <ion-select-option value="ड्रेनेज"> ड्रेनेज </ion-select-option>
            <ion-select-option value="तटबंध आणि नेव्हिगेशन वर्क्स">
              तटबंध आणि नेव्हिगेशन वर्क्स
            </ion-select-option>
            <ion-select-option value="स्टॉर्म वॉटर ड्रेनेज वर्क्ससह">
              स्टॉर्म वॉटर ड्रेनेज वर्क्ससह
            </ion-select-option>
            <ion-select-option value="निर्मिती"> निर्मिती </ion-select-option>
            <ion-select-option value="पारेषण आणि पॉवर वितरण">
              पारेषण आणि पॉवर वितरण
            </ion-select-option>
            <ion-select-option value="पाणी वितरणासाठी चॅनल समाविष्ट करण">
              पाणी वितरणासाठी चॅनल समाविष्ट करण
            </ion-select-option>
            <ion-select-option value="तेल आणि गॅसची स्थापना">
              तेल आणि गॅसची स्थापना
            </ion-select-option>
            <ion-select-option value="इलेक्ट्रिक लाईन्स">
              इलेक्ट्रिक लाईन्स
            </ion-select-option>
            <ion-select-option value="वायरलेस"> वायरलेस </ion-select-option>
            <ion-select-option value="रेडिओ"> रेडिओ </ion-select-option>
            <ion-select-option value="दूरदर्शन"> दूरदर्शन </ion-select-option>
            <ion-select-option value="दूरध्वनी"> दूरध्वनी </ion-select-option>
            <ion-select-option value="टेलीग्राफ आणि ओव्हरसीज कम्युनिकेशन्स">
              टेलीग्राफ आणि ओव्हरसीज कम्युनिकेशन्स
            </ion-select-option>
            <ion-select-option value="डॅम"> डॅम </ion-select-option>
            <ion-select-option value="नद्या"> नद्या </ion-select-option>
            <ion-select-option value="रक्षक"> रक्षक </ion-select-option>
            <ion-select-option value="पाणीपुरवठा">
              पाणीपुरवठा
            </ion-select-option>
            <ion-select-option value="टनेल"> टनेल </ion-select-option>
            <ion-select-option value="पुल"> पुल </ion-select-option>
            <ion-select-option value="पदवीधर"> पदवीधर </ion-select-option>
            <ion-select-option value="जलविद्युत"> जलविद्युत </ion-select-option>
            <ion-select-option value="पाइपलाइन"> पाइपलाइन </ion-select-option>
            <ion-select-option value="टावर्स"> टावर्स </ion-select-option>
            <ion-select-option value="कूलिंग टॉवर्स">
              कूलिंग टॉवर्स
            </ion-select-option>
            <ion-select-option value="ट्रान्समिशन टावर्स आणि अशा इतर कार्य">
              ट्रान्समिशन टावर्स आणि अशा इतर कार्य
            </ion-select-option>
            <ion-select-option
              value="दगड कापणे, फोडणे व दगडाचा बारीक चुरा करणे"
            >
              दगड कापणे, फोडणे व दगडाचा बारीक चुरा करणे.
            </ion-select-option>
            <ion-select-option value="लादी किंवा टाईल्स कापणे व पॉलिश करणे">
              लादी किंवा टाईल्स कापणे व पॉलिश करणे.
            </ion-select-option>
            <ion-select-option value="रंग, वॉर्निश लावणे, इत्यादीसह सुतारकाम">
              रंग, वॉर्निश लावणे, इत्यादीसह सुतारकाम.
            </ion-select-option>
            <ion-select-option value="गटार व नळजोडणीची कामे">
              गटार व नळजोडणीची कामे.
            </ion-select-option>
            <ion-select-option
              value="वायरिंग, वितरण, तावदान बसविणे इत्यादीसहित विद्युत कामे"
            >
              वायरिंग, वितरण, तावदान बसविणे इत्यादीसहित विद्युत कामे.
            </ion-select-option>
            <ion-select-option
              value="अग्निशमन यंत्रणा बसविणे व तिची दुरुस्ती करणे"
            >
              अग्निशमन यंत्रणा बसविणे व तिची दुरुस्ती करणे.
            </ion-select-option>
            <ion-select-option
              value="वातानुकूलित यंत्रणा बसविणे व तिची दुरुस्ती करणे"
            >
              वातानुकूलित यंत्रणा बसविणे व तिची दुरुस्ती करणे.
            </ion-select-option>
            <ion-select-option value="उद्वाहने, स्वयंचलित जिने इत्यादी बसविणे">
              उद्वाहने, स्वयंचलित जिने इत्यादी बसविणे.
            </ion-select-option>
            <ion-select-option value="सुरक्षा दरवाजे उपकरणे इत्यादी बसविणे">
              सुरक्षा दरवाजे उपकरणे इत्यादी बसविणे.
            </ion-select-option>
            <ion-select-option
              value="लोखंडाच्या किंवा धातुच्या ग्रिल्स, खिडक्या, दरवाजे तयार करणे व बसविणे"
            >
              लोखंडाच्या किंवा धातुच्या ग्रिल्स, खिडक्या, दरवाजे तयार करणे व
              बसविणे.
            </ion-select-option>
            <ion-select-option value="जलसंचयन संरचनेचे बांधकाम करणे">
              जलसंचयन संरचनेचे बांधकाम करणे.
            </ion-select-option>
            <ion-select-option
              value="सुतारकाम करणे, आभाशी छत, प्रकाश व्यवस्था, प्लास्टर ऑफ पेरीस यांसहित अंतर्गत (सजावटीचे) काम"
            >
              सुतारकाम करणे, आभाशी छत, प्रकाश व्यवस्था, प्लास्टर ऑफ पेरीस
              यांसहित अंतर्गत (सजावटीचे) काम.
            </ion-select-option>
            <ion-select-option
              value="काच कापणे, काचरोगण लावणे व काचेची तावदाने बसविणे"
            >
              काच कापणे, काचरोगण लावणे व काचेची तावदाने बसविणे.
            </ion-select-option>
            <ion-select-option
              value="कारखाना अधिनियम, 1948 खाली समावेश नसलेल्या विटा, छप्परांवरील कौल इत्यादी तयार करणे"
            >
              कारखाना अधिनियम, 1948 खाली समावेश नसलेल्या विटा, छप्परांवरील कौल
              इत्यादी तयार करणे.
            </ion-select-option>
            <ion-select-option
              value="सौर तावदाने इत्यादींसारखी ऊर्जाक्षम उपकरण बसविणे"
            >
              सौर तावदाने इत्यादींसारखी ऊर्जाक्षम उपकरण बसविणे.
            </ion-select-option>
            <ion-select-option
              value="स्वयंपाकखोली सारख्या ठिकाणी वापरण्यासाठी मोडुलर (आधुनिक) युनिट बसविणे"
            >
              स्वयंपाकखोली सारख्या ठिकाणी वापरण्यासाठी मोडुलर (आधुनिक) युनिट
              बसविणे.
            </ion-select-option>
            <ion-select-option
              value="सिमेन्ट काँक्रिटच्या साचेबद्ध वस्तू इत्यादी तयार करणे व बसविणे"
            >
              सिमेन्ट काँक्रिटच्या साचेबद्ध वस्तू इत्यादी तयार करणे व बसविणे.
            </ion-select-option>
            <ion-select-option
              value="जलतरण तलाव, गोल्फचे मैदान इत्यादीसह खेळ किंवा मनोरंजनाच्या सुविधांचे बांधकाम करणे"
            >
              जलतरण तलाव, गोल्फचे मैदान इत्यादीसह खेळ किंवा मनोरंजनाच्या
              सुविधांचे बांधकाम करणे.
            </ion-select-option>
            <ion-select-option
              value="माहिती फलक, रोड फर्निचर, प्रवाशी निवारे किंवा बसस्थानके, सिग्नल यंत्रणा इत्यादी बांधणे किंवा उभारणे"
            >
              माहिती फलक, रोड फर्निचर, प्रवाशी निवारे किंवा बसस्थानके, सिग्नल
              यंत्रणा इत्यादी बांधणे किंवा उभारणे.
            </ion-select-option>
            <ion-select-option
              value="रोटरीजचे बांधकाम करणे, कारंजे बसविणे इत्यादी"
            >
              रोटरीजचे बांधकाम करणे, कारंजे बसविणे इत्यादी.
            </ion-select-option>
            <ion-select-option
              value="सार्वजनिक उद्याने, पदपथ, रमणीय भू-प्रदेश इत्यादींचे बांधकाम"
            >
              सार्वजनिक उद्याने, पदपथ, रमणीय भू-प्रदेश इत्यादींचे बांधकाम
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header
          >Details of the person who issued the 90 days working
          certificate</ion-list-header
        >

        <ion-item>
          <ion-label position="floating">Type of Issuer</ion-label>
          <ion-select formControlName="typeOfEmployerEmp">
            <ion-select-option value="Contractor/Developer" selected
              >Contractor/Developer</ion-select-option
            >
            <ion-select-option value="Gramsevak">Gramsevak</ion-select-option>
            <ion-select-option
              value="Person with authorization by municipality or municipal corporation"
            >
              Person with authorization by municipality or municipal corporation
            </ion-select-option>
            <ion-select-option value="others">Others</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">नियोक्ता प्रकार</ion-label>
          <ion-select formControlName="typeOfEmployerEmp_mr">
            <ion-select-option value="ठेकेदार/विकासक" selected
              >ठेकेदार/विकासक</ion-select-option
            >
            <ion-select-option value="ग्रामसेवक">ग्रामसेवक</ion-select-option>
            <ion-select-option
              value="नगरपालिका अथवा महानगरपालिकेद्वारे अधिकृतता असलेले व्यक्ती"
            >
              नगरपालिका अथवा महानगरपालिकेद्वारे अधिकृतता असलेले व्यक्ती
            </ion-select-option>
            <ion-select-option value="इतर"> इतर</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Full name</ion-label>
          <ion-input formControlName="fullNameOfIssuerEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">संपूर्ण नाव</ion-label>
          <ion-input formControlName="fullNameOfIssuerEmp_mr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Registration number</ion-label>
          <ion-input formControlName="registrationNumberEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Registration Type</ion-label>
          <ion-select formControlName="registrationTypeEmp">
            <ion-select-option value="BOCW Act">BOCW Act</ion-select-option>
            <ion-select-option value="Contract Act"
              >Contract Act</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">नोंदणी प्रकार</ion-label>
          <ion-select formControlName="registrationTypeEmp_mr">
            <ion-select-option value="बीओसीडब्ल्यू कायदा"
              >बीओसीडब्ल्यू कायदा</ion-select-option
            >
            <ion-select-option value="कॉन्ट्रॅक्ट कायदा"
              >कॉन्ट्रॅक्ट कायदा</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile number</ion-label>
          <ion-input formControlName="mobileNumberOfIssuerEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Document Ref. number</ion-label>
          <ion-input formControlName="documentRefNumberEmp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dispatch Date</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            picker-format="DD/MM/YYYY"
            min="1990-01-01"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Type of worker</ion-label>
          <ion-select formControlName="typeOfWorkerEmp">
            <ion-select-option value="Migrant">Migrant</ion-select-option>
            <ion-select-option value="Local Resident"
              >Local Resident</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">कामगारांचा प्रकार</ion-label>
          <ion-select formControlName="typeOfWorkerEmp_mr">
            <ion-select-option value="स्थलांतरीत">
              स्थलांतरीत</ion-select-option
            >
            <ion-select-option value="स्थानिक निवासी">
              स्थानिक निवासी</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </form>
</ion-content>
