:root{
    
.action-sheet-button.sc-ion-action-sheet-md{
   white-space: normal;
  height: auto;
   contain: content;
}
}

.action-sheet-button.sc-ion-action-sheet-md{
   white-space: normal;
  height: auto;
   contain: content;
}