:root{
    
.action-sheet-button.sc-ion-action-sheet-md{
   white-space: normal;
  height: auto;
   contain: content;
}
}

.action-sheet-button.sc-ion-action-sheet-md{
   white-space: normal;
  height: auto;
   contain: content;
}

ion-select-option[disabled]{
   background-color: #771515;

}.alert-radio-label.sc-ion-alert-md{
   color: red;
}