<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HEALTH SCHEME NO.4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-header style="font-size:18px" class="ml-2">Financial Assistance of Rs. 2,00,000/- to the registered worker in case of
        75% or more permanent disability.
        <br><br>
        ७५% अपंगत्व आल्यास रू.२,००,०००/</ion-header>

      <ion-item>
        <ion-label position="floating">Name Of Civil Surgeon / वैद्यकीय अधिकाऱ्याचे नाव<span style="color: Red">*</span>
        </ion-label>
        <ion-input type="text" formControlName="nameOfMed" id="nameOfMed"
          [class.is-invalid]="nameOfMed.invalid && nameOfMed.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="nameOfMed.invalid && nameOfMed.touched">
          <small *ngIf="nameOfMed.errors && nameOfMed.errors['required']">Please enter name of
            Hospital</small>
          <small *ngIf="nameOfMed.errors && nameOfMed.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfMed_mr.value">
        {{nameOfMed_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address of Hospital / रुग्णालयाचे स्थान <span style="color: Red">*</span>
        </ion-label>
        <ion-input type="text" formControlName="locationOfHospital" id="locationOfHospital"
          [class.is-invalid]="locationOfHospital.invalid && locationOfHospital.touched"></ion-input>
        <div class="text-danger" *ngIf="locationOfHospital.invalid && locationOfHospital.touched">
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['required']">Please enter address of
            Hospital </small>
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="locationOfHospital_mr.value">
        {{locationOfHospital_mr.value}}
      </ion-item>


      <ion-item>
        <ion-icon slot="end" name="calendar"></ion-icon>
        <ion-label position="floating">Date of Certification of disability / अपंगत्वाच्या प्रमाणपत्राची तारीख <span
            style="color: Red">*</span></ion-label>
        <ion-datetime displayFormat="DD MMMM, YYYY" formControlName="date" id="date"
          [class.is-invalid]="date.invalid && date.touched">
        </ion-datetime>
        <div class="text-danger" *ngIf="date.errors && date.touched">
          <small>Please enter appropriate date.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Type of Disability / अपंगत्वाचा प्रकार <span style="color: Red">*</span>
        </ion-label>
        <ion-input type="text" formControlName="typeOfDisability" id="typeOfDisability"
          [class.is-invalid]="typeOfDisability.invalid && typeOfDisability.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="typeOfDisability.invalid && typeOfDisability.touched">
          <small *ngIf="typeOfDisability.errors && typeOfDisability.errors['required']">Please enter name of
            Hospital</small>
          <small *ngIf="typeOfDisability.errors && typeOfDisability.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="typeOfDisability_mr.value">
        {{typeOfDisability_mr.value}}
      </ion-item>
      <br>
      <ion-header class="ml-2"><b><u>DOCUMENTS REQUIRED:-</u></b></ion-header>
      <ion-item lines="none">
        <ion-label text-wrap floating>1. Certificate from a Civil Surgeon / board with 75% disability. <br> ७५% अपंगत्व
          असल्याचे सक्षम वैद्यकीय अधिकारी/मंडळाचे प्रमाणपत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='health4Form4Doc1' formControlName="health4Form4Doc1" type="file" accept="application/pdf">
        <div class="text-danger" *ngIf="health4Form4Doc1.invalid && health4Form4Doc1.touched">
          <small> Please Upload Required Document</small>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label text-wrap floating>2. Self Declaration / हमीपत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='selfDeclaration' formControlName="selfDeclaration" type="file" accept="application/pdf">
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small> Please Upload Required Document</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="verifyDocumentCheck" slot="start" checked="false"></ion-checkbox>
        <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
      </ion-item>

      <ion-button mode="ios" expand="block" (click)="save()">Save</ion-button>
    </ion-list>
  </form>

</ion-content>