<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HEALTH SCHEME NO.3</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-header style="font-size:18px" class="ml-2">{{selectedSchemeName}}</ion-header>

      <ion-item>
        <ion-label position="floating"> Name of Hospital / रुग्णालयाचे नाव<span style="color: Red">*</span></ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" formControlName="nameOfHospital" id="nameOfHospital"
          [class.is-invalid]="nameOfHospital.invalid && nameOfHospital.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="nameOfHospital.invalid && nameOfHospital.touched">
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['required']">Please enter name of
            Hospital</small>
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfHospital_mr.value">
        {{nameOfHospital_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address of Hospital / रुग्णालयाचे स्थान <span style="color: Red">*</span>
        </ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" formControlName="locationOfHospital" id="locationOfHospital"
          [class.is-invalid]="locationOfHospital.invalid && locationOfHospital.touched"></ion-input>
        <div class="text-danger" *ngIf="locationOfHospital.invalid && locationOfHospital.touched">
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['required']">Please enter address of
            Hospital </small>
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="locationOfHospital_mr.value">
        {{locationOfHospital_mr.value}}
      </ion-item>



      <ion-item>
        <ion-label position="floating">Name of Doctor / डॉक्टरांचे नाव <span style="color: Red">*</span></ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" id="nameOfDoctor" [class.is-invalid]="nameOfDoctor.invalid && nameOfDoctor.touched"
          formControlName="nameOfDoctor" maxlength="120">
        </ion-input>
        <div class="text-danger" *ngIf="nameOfDoctor.invalid && nameOfDoctor.touched">
          <small *ngIf="nameOfDoctor.errors && nameOfDoctor.errors['required']">Please enter Name of Doctor </small>
          <small *ngIf="nameOfDoctor.errors  && nameOfDoctor.errors['maxlength']">You have reached your maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfDoctor_mr.value">
        {{nameOfDoctor_mr.value}}
      </ion-item>

      <ion-item>
          <ion-icon slot="end" name="calendar"></ion-icon>
          <ion-label position="floating">Date of Tuboctomy / नसबंदीची तारीख <span
              style="color: Red">*</span></ion-label>
          <ion-datetime [max]="maxTodaysDate" [min]="minTreatmentDate"  displayFormat="DD MMMM, YYYY" formControlName="dateOfOp" id="dateOfOp"
            [class.is-invalid]="dateOfOp.invalid && dateOfOp.touched">
          </ion-datetime>
          <div class="text-danger" *ngIf="dateOfOp.errors && dateOfOp.touched">
            <small>Please enter appropriate date.</small>
          </div>
        </ion-item>


      <ion-item>
        <ion-label position="floating">Name of Daughter / मुलीचे नाव <span style="color: Red">*</span></ion-label>
        <ion-select interface="action-sheet" formControlName="childrenDetail"
          [class.is-invalid]="childrenDetail.invalid && childrenDetail.touched" 
          id="childrenDetail">
          <ion-select-option *ngFor="let childObject of familyArray; let i = index" [disabled]="i > '0'"
              [value]="childObject['family_detail_id']">
              {{childObject['firstNameFamily']}} {{childObject['surname']}} / {{childObject['firstNameFamily_mr']}}
              {{childObject['surname_mr']}}</ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="childrenDetail.invalid && childrenDetail.touched">
          <small *ngIf="childrenDetail.errors && childrenDetail.errors['required']">Please select your Child.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Aadhar Card of Child / मुलांचे आधार कार्ड <span style="color: Red">*</span>
        </ion-label>
        <ion-input readonly type="tel" [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" maxlength="12"
          minlength="12" formControlName="aadharNumber" id="aadharNumber"></ion-input>
        <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please enter your Aadhar Number.</small>
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['pattern']">Please enter appropriate Aadhar
            Number.</small>
        </div>
      </ion-item>

    
    <div class="col-lg-9 form-check mb-3" *ngIf="!filledFormData">
      <ion-toggle id="open" slot="start"   (ionChange)="openOtherDetails($event)" >Check to Change the Nominee. / नामनिर्देशन बदलण्यासाठी खूण करा.</ion-toggle>
    <ion-label>Check if the applicant and registered worker have an account. / <br> अर्जदार आणि नोंदणीकृत कामगार यांचे खाते असेल तर खूण करा.</ion-label>
    </div>
    <ion-list *ngIf="open">
        <ion-header class="ml-2" style="font-size:18px">BANK DETAILS: / बँक तपशील:
        </ion-header>
  
        <ion-item>
          <ion-label position="floating">IFSC Code / आयएफएससी कोड<span class="text-danger">*</span></ion-label>
          <ion-input  autocapitalize="characters"  [class.is-invalid]="ifscCodeBank.invalid && ifscCodeBank.touched" formControlName="ifscCodeBank"   (change)="searchByifscCodeBank()"
            id="ifscCodeBank" clearInput></ion-input>
            <ion-button (click)="searchByifscCodeBank()">Search</ion-button>
          <div class="text-danger" *ngIf="ifscCodeBank.invalid && ifscCodeBank.touched">
            <small *ngIf="ifscCodeBank.errors && ifscCodeBank.errors['required']">Please enter IFSC Code.</small>
            <small *ngIf="ifscCodeBank.errors && ifscCodeBank.errors['maxlength']">You Have Reached Your
              Maximum.</small>
            <small *ngIf="ifscCodeBank.errors && ifscCodeBank.errors['minlength']">Please enter appropriate IFSC
              Code.</small> </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bank Name / बँकेचे नाव<span class="text-danger">*</span></ion-label>
          <ion-input [class.is-invalid]="bankNameBank.invalid && bankNameBank.touched" formControlName="bankNameBank"
            id="bankNameBank" clearInput></ion-input>
          <div class="text-danger" *ngIf="bankNameBank.invalid && bankNameBank.touched">
            <small *ngIf="bankNameBank.errors && bankNameBank.errors['required']">Please enter Bank Name.</small>
            <small *ngIf="bankNameBank.errors && bankNameBank.errors['maxlength']">You Have Reached Your
              Maximum.</small>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bank Branch / बँक शाखा<span class="text-danger">*</span></ion-label>
          <ion-input [class.is-invalid]="bankBranchBank.invalid && bankBranchBank.touched"
            formControlName="bankBranchBank" id="bankBranchBank" clearInput></ion-input>
          <div class="text-danger" *ngIf="bankBranchBank.invalid && bankBranchBank.touched">
            <small *ngIf="bankBranchBank.errors && bankBranchBank.errors['required']">Please enter Bank branch.</small>
            <small *ngIf="bankBranchBank.errors && bankBranchBank.errors['maxlength']">You Have Reached Your
              Maximum.</small>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bank Address / बँकेचा पत्ता<span class="text-danger">*</span></ion-label>
          <ion-input [class.is-invalid]="bankAddressBank.invalid && bankAddressBank.touched"
            formControlName="bankAddressBank" id="bankAddressBank" clearInput></ion-input>
          <div class="text-danger" *ngIf="bankAddressBank.invalid && bankAddressBank.touched">
            <small *ngIf="bankAddressBank.errors && bankAddressBank.errors['required']">Please enter Bank
              Address.</small>
            <small *ngIf="bankAddressBank.errors && bankAddressBank.errors['maxlength']">You Have Reached Your
              Maximum.</small>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Account Number / खाते क्रमांक<span class="text-danger">*</span></ion-label>
          <ion-input [class.is-invalid]="accountNumberBank.invalid && accountNumberBank.touched"
            formControlName="accountNumberBank" id="accountNumberBank" clearInput></ion-input>
          <div class="text-danger" *ngIf="accountNumberBank.invalid && accountNumberBank.touched">
            <small *ngIf="accountNumberBank.errors && accountNumberBank.errors['required']">Please enter Account
              Number.</small>
            <small *ngIf="accountNumberBank.errors && accountNumberBank.errors['minlength']">Enter valid Account
              Number.</small>
          </div>
        </ion-item>
  
      </ion-list>
      <br>
      <ion-header class="ml-2"><b><u>DOCUMENTS REQUIRED(Maximum File Size: 2MB, Format: .pdf, .jpeg, .png):-</u></b></ion-header>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>1. Certificate of family planning given by competent medical authorities
          / सक्षम वैद्यकीय अधिकाऱ्यांनी दिलेले कुटुंबनियोजन शास्त्रक्रियेबाबतचे प्रमाणपत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='health3Form3Doc1' (change)="getFileDetails($event)" formControlName="health3Form3Doc1" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="health3Form3Doc1.invalid && health3Form3Doc1.touched">
          <small> Please Upload Required Document</small>
        </div>


      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>2. Certificate of affirmation, the applicant does not have more than one daughter
          /
          अर्जदारास एक कन्या अपत्यापेक्षा जास्त अपत्य नसल्याचा पुरावा - शपथपत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='health3Form3Doc2' (change)="getFileDetails($event)" formControlName="health3Form3Doc2" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="health3Form3Doc2.invalid && health3Form3Doc2.touched">
          <small> Please Upload Required Document</small>
        </div>


        <ion-item lines="none">
          <ion-label class="ion-text-wrap" floating>3. Aadhar card Document of Selected Child / निवडलेल्या मुलीचे आधार कार्ड कागदपत्र
        </ion-label>
      </ion-item>
      <ion-item>
        <input id='aadharCardDoc' (change)="getFileDetails($event)" formControlName="aadharCardDoc" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="aadharCardDoc.invalid && aadharCardDoc.touched">
          <small> Please Upload Required Document</small>
        </div>


      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>4. Self Declaration / स्वयंघोषणापत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='selfDeclaration' (change)="getFileDetails($event)" formControlName="selfDeclaration" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small> Please Upload Required Document</small>
        </div>

      <ion-item>
        <ion-checkbox formControlName="verifyDocumentCheck" slot="start" checked="false"></ion-checkbox>
        <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
      </ion-item>

      <ion-button mode="ios" expand="block" (click)="saveForm()">SAVE</ion-button>
    </ion-list>
  </form>
<!-- </ion-content> -->