<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Claim Verificatoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        BOCW Registration No. Verification
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="claimVerificationForm">
        <ion-item>
          <ion-label position="floating"> BOCW Registration No.</ion-label>
          <ion-input (ionChange)="clearErrors()" maxlength='14' formControlName="registrationNo" clearInput>
          </ion-input>
          <div class="text-danger" *ngIf="registrationNo.invalid && registrationNo.touched">
            <small *ngIf="!!registrationNo.errors?.required">Please enter your BOCW Registration No.</small>
            <small *ngIf="!!registrationNo.errors?.pattern">Please enter appropriate registration number.</small>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile Number / दूरध्वनी क्रमांक</ion-label>
          <ion-input (ionChange)="clearErrors()" type="tel" maxlength='10' id="mobileNo" formControlName="mobileNo" clearInput>
          </ion-input>
          <div class="text-danger" *ngIf="mobileNo.invalid && mobileNo.touched">
            <small *ngIf="!!mobileNo.errors?.required">Please enter your Mobile No.</small>
            <small *ngIf="!!mobileNo.errors?.pattern">Please enter appropriate Mobile Number.</small>
          </div>
        </ion-item>
        <ion-button style="margin-top: 16px;" mode="ios" expand="block" (click)="verify()">Verify</ion-button>
        <ion-item *ngIf="unregisteredUser">
          <div style="color:red">
            <ion-icon style=" position: relative;top: 7px;right: 3px;font-size: 26px;" slot="end" name="alert">
            </ion-icon>There
            is no worker registered with {{registrationNo.value}}
          </div>
        </ion-item>
        <ion-item *ngIf="ineligible">
          <div style="color:red">
            <ion-icon style=" position: relative;top: 7px;right: 3px;font-size: 26px;" slot="end" name="alert">
            </ion-icon>The worker registered with {{registrationNo.value}} is not eligible for claims.
          </div>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>