<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SOCIAL SECURITY SCHEME NO.7</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="formGroup">
  <ion-list>
    <ion-header class="p-2" style="font-size:20px;">{{selectedSchemeName}}</ion-header>
    <ion-item>
      <ion-label>DOCUMENTS REQUIRED(Maximum File Size: 2MB, Format: .pdf, .jpeg, .png):-</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>1. Self Declaration / स्वयंघोषणापत्र.</ion-label>
    </ion-item>
    <ion-item>
      <input type="file" formControlName="selfDeclaration"
        [class.is-invalid]="selfDeclaration.invalid && selfDeclaration.touched" class="form-control-file"
        accept="application/pdf" (change)="getFileDetails($event)" id="selfDeclaration">
      </ion-item>
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small>Please upload required document.</small>
        </div>
        
    <ion-item>
      <ion-checkbox checked="false" slot="start" formControlName="verifyDocumentCheck"></ion-checkbox>
      <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
    </ion-item>
    <ion-button mode="ios" expand="block" (click)="saveForm()">SAVE</ion-button>
  </ion-list>

</form>