<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.png" alt="" />
     <!-- <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle> 
        <ion-card-title>IWBMS</ion-card-title> 
      </ion-card-header> -->
      <ion-card-content>
        <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input color="primary" type="email" formControlName="username" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="wrongUser"> 
          <ion-label style="color: Red" text-wrap >This app is only for Field-Agents to use.</ion-label>
        </ion-item>
        <ion-button  mode="ios" expand="block" (click)="loginUser()">
          Log-in<ion-icon slot="start" name="log-in"></ion-icon>
        </ion-button>
      </form >


      </ion-card-content>
    </ion-card>    
</ion-content>
